<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Roboto']
        }
      });
    </script>
    <link rel="stylesheet" type="text/css" href='/static/css/parking.css'></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCaWo9mqD2bX1YkSg6-vt_3WitrxpJ-Yps'></script>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/static/js/parking.js'></script>
    <link rel="shortcut icon", href="/static/images/favicon.ico"></link>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
