{% extends "base.html" %}
 
{% block content %}
  <div class='street-cleaning-content'>
    {% if cleanings.length != 0%}
      {% for cleaning in cleanings %}
        <div class='cleaning-time'>{{cleaning.weekday}}: {{cleaning.fromhour}}:00 - {{cleaning.tohour}}:00</div>
      {% endfor %}
    {% else %}
      <div class='cleaning-time'>No street cleaning found</div>
    {% endif %}
    <div class='car-loc'>
      <div class='location-text'>{{current_location.streetNumber}} {{current_location.streetName}}</div>
      <div class="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
{% endblock %}
