{% extends "base.html" %}
 
{% block content %}
  <div class="new-location-content">
    <div class="title">Your current location:</div>
    <div class="sub-title location-text"></div>
    <div class="rect-butt" id="submit-new-location">
      <div class="butt-text">Submit</div>
    </div>
    <div class="rect-butt home-butt">
      <div class="butt-text">
        <a href='/'>Home</a>
      </div>
    </div>
    <div class='car-loc'>
      <div class="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
{% endblock %}
