<html>
  <head>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/parking.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/parking.css"></script>
  </head>
  
  <body>
    <div class="main-content">
      <div class="title">Choose new location</div>
      <div class="map"></div>
      <div class="butt" id="submit-new-location">
        <div class="butt-text">Submit</div>
      </div>
    </div>
  </body>
</html>
