/* http://paletton.com/#uid=13S0u0klllldVN5gRvUpPaMtG4E */

@media only screen and (max-device-width: 480px) {
    .map-container {
      height: 460px !important;
      width: 330px !important;
      margin: 15px auto !important;
    }
}

div {
  font-family: 'Roboto', ariel;
}

body {
  background-color: #5D6CAD;
}

.title {
  font-size: 19px;
  margin-bottom: 5px;
}

.street-cleaning-content {
  position: relative;
  max-width: 415px;
  margin: auto;
  padding: 5px 0px;
  text-align: center;
  background-color: #8897D6;
  border-radius: 5px;
}

.location-text{
  margin-bottom: 5px;
  cursor: pointer;
}
.cleaning-time {
  height: 25px;
}

.car-loc {
  height: 400px;
}

.go-to-current-location {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 30px;
  top: 30px;
  padding: 4px;
  background-color: #5D6CAD;
  cursor: pointer;
}

.extra-info {
  font-size: 14px;
  font-style: italic;
}

.map-container {
  height: 500px;
  width: 450px;
  margin: 15px auto;
}

#content {
  width: 150px;
  text-align: center;
}

#new-location {
  color: blue;
}

.cleaning-time, .car-loc {
  width: 75%;
  margin: auto;
  text-align: center;
}


#map-canvas {
  height: 100%;
  padding: 0px;
  border: 1px solid black;
}
