div {
  font-family: 'Roboto', ariel;
}

.street-cleaning-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.cleaning-time {
  height: 25px;
}

.car-loc {
  height: 400px;
}

.map-container {
  height: 100%;
  width: 100%;
  margin: 15px auto;
}

#content {
  width: 150px;
}

#new-location {
  color: blue;
}

.cleaning-time, .car-loc {
  width: 75%;
  margin: auto;
  text-align: center;
}

.car-loc > .location-text{
  margin-top: 5px;
}

#map-canvas {
  height: 100%;
  padding: 0px;
  border: 1px solid black;
}
