/* http://paletton.com/#uid=13S0u0klllldVN5gRvUpPaMtG4E */
div {
  font-family: 'Roboto', ariel;
}

body {
  background-color: #5D6CAD;
}

.title {
  font-size: 19px;
  margin-bottom: 5px;
}

.street-cleaning-content {
  max-width: 415px;
  margin: auto;
  text-align: center;
  background-color: #8897D6;
  border-radius: 5px;
}

.location-text{
  margin-bottom: 5px;
}
.cleaning-time {
  height: 25px;
}

.car-loc {
  height: 400px;
}

.map-container {
  height: 500px;
  width: 450px;
  margin: 15px auto;
}

#content {
  width: 150px;
  text-align: center;
}

#new-location {
  color: blue;
}

.cleaning-time, .car-loc {
  width: 75%;
  margin: auto;
  text-align: center;
}


#map-canvas {
  height: 100%;
  padding: 0px;
  border: 1px solid black;
}
